@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/favicon.png" />
    <title>Autenticação - Projeto Musaranha</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">   
</head>
<body>
    <form method="post" id="login" class="modal">
        <div class="modal-content">
            <h4>Autenticação</h4>
            <div class="row">
                <div class="input-field col s12">
                    <label for="txtUsuario">Nome de Usuário</label>
                    <input name="txtUsuario" id="txtUsuario" type="text" required class="validate">
                </div>
                <div class="input-field col s12">
                    <label for="txtUsuario">Palavra-chave</label>
                    <input name="txtSenha" id="txtSenha" type="password" required class="validate">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="waves-effect btn-flat">Acessar</button>
        </div>
    </form>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    @Scripts.Render("~/bundles/js")
    <script>
        $(function () {
            $('#login').openModal({
                dismissible: false
            });
        });
    </script>
</body>
</html>