
@{
    ViewBag.Title = "Configurações";
}

<h3>@ViewBag.Title <i class="medium material-icons right">settings</i></h3>
<div class="divider"></div>

<div class="row">
    <div class="col s12 m6">
        <form method="post">
            <h5>Alterar Senha</h5>
            <div class="row">
                <div class="input-control col s12">
                    <label for="txtSenhaNova">Senha atual</label>
                    <input type="password" id="txtSenhaAtual" name="txtSenhaAtual" pattern="[A-Za-z0-9]{5,}" required class="validate">
                </div>
                <div class="input-control col s12">
                    <label for="txtSenhaNova">Senha nova</label>
                    <input type="password" id="txtSenhaNova" name="txtSenhaNova" pattern="[A-Za-z0-9]{5,}" required class="validate">
                </div>
                <div class="input-control col s12">
                    <label for="txtSenhaNova">Confirmação</label>
                    <input type="password" id="txtConfirmacao" name="txtConfirmacao" pattern="[A-Za-z0-9]{5,}" required class="validate">
                </div>
            </div>
            <button type="submit" class="waves-effect btn">Alterar</button>
            <button type="reset" class="waves-effect btn">Cancelar</button>
        </form>
    </div>
</div>
