@model List<Funcionario>
@{
    ViewBag.Title = "Funcionários";
}

<h3>@ViewBag.Title <i class="medium material-icons right">contact_phone</i></h3>
<div class="divider"></div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <button class="incluir btn-floating btn-large waves-effect" title="Incluir">
        <i class="large material-icons">add</i>
    </button>
    <ul>
        <li><a href="@Url.Action("Pagamento")" title="Pagamentos" class="btn-floating waves-effect"><i class="material-icons">receipt</i></a></li>
    </ul>
</div>

<form method="post" class="acao modal modal-fixed-footer">
    <div class="modal-content">
        <h4 class="header">Título</h4>
        <div class="input-control col s12">
            <label for="txtNome">Nome</label>
            <input type="text" name="txtNome" id="txtNome" required class="validate">
        </div>
        <div class="input-control col s12 telefones">
            <label for="txtTelefone">Telefone(s)</label>
            <input type="text" name="txtTelefone1" id="txtTelefone" required class="validate mask-telefone">
        </div>
        <div class="input-control col s6">
            <label for="txtIdentidade">Identidade</label>
            <input type="text" name="txtIdentidade" id="txtIdentidade" required class="validate mask-numero">
        </div>
        <div class="input-control col s6">
            <label for="txtCarteiraTrabalho">Carteira de Trabalho</label>
            <input type="text" name="txtCarteiraTrabalho" id="txtCarteiraTrabalho" required class="validate mask-numero">
        </div>
        <div class="input-control col s6">
            <label for="txtSalario">Salário</label>
            <input type="text" name="txtSalario" id="txtSalario" required class="validate mask-dinheiro">
        </div>
        <div class="input-control col s6">
            <label for="txtCategoria">Categoria</label>
            <select name="txtCategoria" id="txtCategoria" required class="validate">
                <option value="" disabled selected>Categoria</option>
                <option value="M">Motorista</option>
                <option value="T">Técnico</option>
            </select>
        </div>
        <div class="input-control col s12" data-role="input">
            <label for="txtObservacao">Observação</label>
            <textarea name="txtObservacao" id="txtObservacao" class="materialize-textarea" length="255"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <div class="modal-action waves-effect btn primary">Incluir</div>
        <button type="reset" class="modal-action modal-close waves-effect btn-flat">Cancelar</button>
    </div>
</form>

<form method="post" class="excluir modal">
    <div class="modal-content">
        <h4 class="header">Excluir Funcionário?</h4>
        <p>Deseja mesmo excluir o funcionário selecionado?</p>
        <div class="info">
        </div>
    </div>
    <div class="modal-footer">
        <button type="reset" class="modal-action waves-effect btn primary">Excluir</button>
        <button type="reset" class="modal-action modal-close cancelar btn-flat">Cancelar</button>
    </div>
</form>

    <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone(s)</th>
            <th>Categoria</th>
            <th>Identidade</th>
            <th>CLT</th>
            <th>Salário</th>
            <th>Observação</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @Html.Partial("_Lista")
    </tbody>
</table>