@model List<Fornecedor>

@{
    ViewBag.Title = "Fornecedores";
}

<h3>@ViewBag.Title <i class="medium material-icons right">store</i></h3>
<div class="divider"></div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <button class="incluir btn-floating btn-large waves-effect" title="Incluir">
        <i class="large material-icons">add</i>
    </button>
</div>

<form method="post" class="acao modal modal-fixed-footer">
    <div class="modal-content">
        <h4 class="header">Incluir Fornecedor</h4>
        <div class="input-control col s12">
            <label for="txtNome">Nome</label>
            <input type="text" name="txtNome" id="txtNome" required class="validate">
        </div>
        <div class="input-control col s12 telefones">
            <label for="txtTelefone">Telefone(s)</label>
            <input type="text" name="txtTelefone1" id="txtTelefone" required class="validate mask-telefone">
        </div>
        <div class="input-control col s10">
            <label for="txtLogradouro">Logradouro</label>
            <input type="text" name="txtLogradouro" id="txtLogradouro" required class="validate">
        </div>
        <div class="input-control col s2">
            <label for="txtNumero">Número</label>
            <input type="text" name="txtNumero" id="txtNumero" required class="validate">
        </div>
        <div class="input-control col s9">
            <label for="txtComplemento">Complemento</label>
            <input type="text" name="txtComplemento" id="txtComplemento" required class="validate">
        </div>
        <div class="input-control col s3">
            <label for="txtCEP">CEP</label>
            <input type="text" name="txtCEP" id="txtCEP" required class="validate mask-cep">
        </div>
        <div class="input-control col s5">
            <label for="txtBairro">Bairro</label>
            <input type="text" name="txtBairro" id="txtBairro" required class="validate">
        </div>
        <div class="input-control col s5">
            <label for="txtCidade">Cidade</label>
            <input type="text" name="txtCidade" id="txtCidade" required class="validate">
        </div>
        <div class="input-control col s2">
            <label for="txtEstado">Estado</label>
            <input type="text" name="txtEstado" id="txtEstado" required class="validate">
        </div>
        <div class="input-control col s6">
            <label for="txtTipo">Tipo de Pessoa</label>
            <select name="txtTipo" id="txtTipo" required class="validate">
                <option value="" disabled selected>Tipo de Pessoa</option>
                <option value="F">Física</option>
                <option value="J">Jurídica</option>
            </select>
        </div>
        <div class="input-control col s6">
            <label for="txtCPFOuCNPJ">CPF/CNPJ</label>
            <input type="text" name="txtCPFOuCNPJ" id="txtCPFOuCNPJ" required class="validate mask-cpf-cnpj">
        </div>
        <div class="input-control col s12">
            <label for="txtEmail">Email</label>
            <input type="email" name="txtEmail" id="txtEmail" required class="validate">
        </div>
    </div>
    <div class="modal-footer">
        <div class="modal-action waves-effect btn primary">Incluir</div>
        <button type="reset" class="modal-action modal-close waves-effect btn-flat">Cancelar</button>
    </div>
</form>

<form method="post" class="excluir modal">
    <div class="modal-content">
        <h4 class="header">Excluir Fornecedor?</h4>
        <p>Deseja mesmo excluir o fornecedor selecionado?</p>
        <div class="info">
        </div>
    </div>
    <div class="modal-footer">
        <button type="reset" class="modal-action waves-effect btn primary">Excluir</button>
        <button type="reset" class="modal-action modal-close cancelar btn-flat">Cancelar</button>
    </div>
</form>

<table class="table highlight responsive-table fornecedores">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone(s)</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @Html.Partial("_Lista")
    </tbody>
    <tfoot class="grey lighten-4">
        <tr>
            <th>Endereço</th>
            <td data-campo="endereco" colspan="4"></td>
        </tr>
        <tr>
            <th>CPF/CNPJ</th>
            <td data-campo="cpfcnpj"></td>
            <th>Email</th>
            <td data-campo="email" colspan="2"></td>
        </tr>
    </tfoot>
</table>