@model List<Produto>

@{
    ViewBag.Title = "Produtos";
}

<h3>@ViewBag.Title <i class="medium material-icons right">loyalty</i></h3>
<div class="divider"></div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <button class="incluir btn-floating btn-large waves-effect" title="Incluir">
        <i class="large material-icons">add</i>
    </button>
</div>

<form method="post" class="acao modal modal-fixed-footer">
    <div class="modal-content">
        <h4 class="header">Incluir Produto</h4>
        <div class="input-control col s12">
            <label for="txtCodigo">Código</label>
            <input type="text" name="txtCodigo" id="txtCodigo" value="Automático" disabled required class="validate">
        </div>
        <div class="input-control col s12">
            <label for="txtDescricao">Descrição</label>
            <input type="text" name="txtDescricao" id="txtDescricao" required class="validate">
        </div>
    </div>
    <div class="modal-footer">
        <div class="modal-action waves-effect btn primary">Incluir</div>
        <button type="reset" class="modal-action modal-close waves-effect btn-flat">Cancelar</button>
    </div>
</form>

<form method="post" class="excluir modal">
    <div class="modal-content">
        <h4 class="header">Excluir Produto?</h4>
        <p>Deseja mesmo excluir o produto selecionado?</p>
        <div class="info">
            <p><b>Código</b>: 7</p>
            <p><b>Descrição</b>: Frango Carcaça</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="reset" class="modal-action waves-effect btn primary">Excluir</button>
        <button type="reset" class="modal-action modal-close cancelar btn-flat">Cancelar</button>
    </div>
</form>

<table class="table highlight responsive-table produtos">
    <thead>
        <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @Html.Partial("_Lista")        
    </tbody>
</table>