
@{
    ViewBag.Title = "Painel";
}

<h1 class="text-light">@ViewBag.Title <span class="mif-apps place-right"></span></h1>
<hr class="thin bg-grayLighter">

<div class="tile-area no-padding">
    <div class="tile-group double" style="margin-left: 0px;">
        <span class="tile-group-title fg-black">Gerenciamento</span>
        <div class="tile">
            <div class="tile-content iconic">
                <span class="icon mif-users"></span>
            </div>
            <span class="tile-label">Clientes</span>
        </div>
        <a href="@Url.Action("","Funcionario")" class="tile">
            <div class="tile-content iconic">
                <span class="icon mif-contacts-mail"></span>
            </div>
            <span class="tile-label">Funcionários</span>
        </a>
        <div class="tile">
            <div class="tile-content iconic">
                <span class="icon mif-shop"></span>
            </div>
            <span class="tile-label">Fornecedores</span>
        </div>
        <div class="tile">
            <div class="tile-content iconic">
                <span class="icon mif-files-empty"></span>
            </div>
            <span class="tile-label">Produtos</span>
        </div>
    </div>
    <div class="tile-group double">
        <span class="tile-group-title fg-black">Movimentações</span>        
        <div class="tile">
            <div class="tile-content iconic">
                <span class="icon mif-shopping-basket2"></span>
            </div>
            <span class="tile-label">Compras</span>
        </div>
        <div class="tile">
            <div class="tile-content iconic">
                <span class="icon mif-coins"></span>
            </div>
            <span class="tile-label">Vendas</span>
        </div>
    </div>
    <div class="tile-group double">
        <span class="tile-group-title fg-black">Relatórios</span>
        <div class="tile">
            <div class="tile-content iconic">
                <span class="icon mif-chart-bars2"></span>
            </div>
            <span class="tile-label">Relatório de Compras</span>
        </div>
        <div class="tile">
            <div class="tile-content iconic">
                <span class="icon mif-chart-bars"></span>
            </div>
            <span class="tile-label">Relatório de Vendas</span>
        </div>
    </div>
</div>